<div class="name-field">
  <%= form.label :name %>
  <%= form.text_field :name, id: :name %>
</div>


<div class="description-field">
  <%= form.label :description %>
  <%= form.text_field :description, id: :description %>
</div>

<div class="location-field">
  <%= form.label :location %>
  <%= form.text_field :location, id: :location %>
</div>


<div class="policy-field">
  <%= form.label :policy %>
  <%= form.text_field :policy, id: :policy %>
</div>


<div class="num_bedroom-field">
  <%= form.label :num_bedroom %>
  <%= form.number_field :num_bedroom, id: :num_bedroom %>
</div>

<div class="num_bed-field">
  <%= form.label :num_bed %>
  <%= form.number_field :num_bed, id: :num_bed %>
</div>

<div class="num_bathroom-field">
  <%= form.label :num_bathroom %>
  <%= form.number_field :num_bathroom, id: :num_bathroom %>
</div>

<div class="max_guests-field">
  <%= form.label :max_guests %>
  <%= form.number_field :max_guests, id: :max_guests %>
</div>