<%if signed_in?%>
	<%= link_to "Create new listing", new_listing_path, :class => "btn btn-outline-warning p-1 col-12" %>
<%end%>

<h1>Listings#index</h1>
<div id="top-tag-display">
	<h5>Tags</h5>
	<% Tag.all.each do |tag| %>
		<%if tag.taggings.length > 0%>
			<span class="btn btn-outline-info"><%=link_to tag.name, tag_path(tag.name) %></span>
		<%end%>
	<% end %>
</div>




<section id="listings-cards">
	<div class="row match-height w-100">
		<% @listings.each do |list|%>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card">
					<div class="card-content">
						<%if list.avatars != []%>
							<%= image_tag list.avatars[0].url.to_s, :class => "img-fluid" %>
						<%end%>
						<div class="card-body">
							<h5 class="card-title">
								<%=link_to "#{list.name}", listing_path(list) %>
							</h5>
						<div id="quick-stats" class="container d-flex justify-content-between text-secondary">
						    <span><%=list.max_guests %> guests</span>
						    <span><%=list.num_bed %> beds</span>
						    <span><%=list.num_bedroom %> bedrooms</span>
						    <span><%=list.num_bathroom %> bathrooms</span>
						  </div> 
							<p class="card-text">
								<%= "#{list.description}"%>
							</p>
						</div>
					</div>
					
				</div>
				
		</div>
		<%end%>
	</div>
</section>

<%= will_paginate @posts %>
