<div class="container col-sm-10">
  <%if @listing.avatars != []%>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag @listing.avatars[0].url.to_s, :class => "d-block w-100" %>
      </div>

      <% @listing.avatars[1..-1].each do |av|%>
        <div class="carousel-item">
          <%= image_tag av.url.to_s, :class => "d-block w-100" %>
        </div>
      <% end %>  
     


    </div>
  </div>
  <%end%>


  <div class="container">
    <h3><%=@listing.name %></h3>
    <h5><%=@listing.location%></h5>
  </div>

  <div id="quick-stats" class="container d-flex justify-content-between">
    <span><%=@listing.max_guests %> guests</span>
    <span><%=@listing.num_bed %> beds</span>
    <span><%=@listing.num_bedroom %> bedrooms</span>
    <span><%=@listing.num_bathroom %> bathrooms</span>
  </div> 


  <div class="container">
    <h5>Description</h5>
    <p><%=@listing.description%></p>
    $<%=@listing.price%> per night
  </div>

  <div class="container">
    <h5>Cancellation policies and house rules</h5>
    <%=@listing.policy%>
  </div>

  <div class="tags container">
    <strong>Tags:</strong> <%=@listing.all_tags %>
  </div>

<%if signed_in? %>

  
  <div class="card border-dark">
      
      <div class="card-header">
        <h2>Are you interested in staying here?</h2>
      </div>

      <div class="card-body">


      <%= form_with model: @reservation, url: reservations_path(listing_id: @listing.id), local: true do |form| %>
        <%= render partial: '/reservations/form', object: form %>
        <div class="submit-field p-0 m-0">
            <%= form.submit "Book this listing", :class => "btn btn-outline-danger w-100"  %>
          </div>
          <%= link_to "Make Payment", braintree_new_path %>
      <% end %>

    </div> <!-- End of card body -->

  </div> <!-- End of card div -->

  <% if@listing.user == current_user %>
    <%= link_to "Edit this listing", edit_listing_path(@listing), :class => "btn btn-outline-warning col-12" %>

    <div class="container">
      <%= render partial: "reservations/table"%>
    </div>


  <%end%>    
<%end%>

</div> <!-- End of container div -->