<div class="text-field form-group row">
  <%= form.label :email, :class => "col-sm-4 col-form-label col-form-label-sm" %>
  <%= form.text_field :email, id: :email, class: :email, :class => "col-sm-7 form-control form-control-sm" %>
</div>

<div class="handle-field form-group row">
  <%= form.label :handle, :class => "col-sm-4 col-form-label col-form-label-sm" %>
  <%= form.text_field :handle, id: :handle, :class => "col-sm-7 form-control form-control-sm" %>
</div>


<div class="first_name-field form-group row">
  <%= form.label :first_name, :class => "col-sm-4 col-form-label col-form-label-sm" %>
  <%= form.text_field :first_name, id: :first_name, :class => "col-sm-7 form-control form-control-sm" %>
</div>


<div class="last_name-field form-group row">
  <%= form.label :last_name, :class => "col-sm-4 col-form-label col-form-label-sm" %>
  <%= form.text_field :last_name, id: :first_name, :class => "col-sm-7 form-control form-control-sm" %>
</div>


<div class="password-field form-group row">
  <%= form.label :password, :class => "col-sm-4 col-form-label col-form-label-sm" %>
  <%= form.password_field :password, id: :password, :class => "col-sm-7 form-control form-control-sm" %>
</div>

<div class="image-field form-group row">
  <%= form.label :rimage, "Upload avatar image", :class => "col-sm-4 col-form-label col-form-label-sm" %>
  <%= form.file_field :avatar, :class => "col-sm-7 col-form-label-sm" %>

  <%= form.label :remote_image_url, "or image URL", :class => "col-sm-4 col-form-label col-form-label-sm" %>
  <%= form.text_field :remote_image_url, :class => "col-sm-7 form-control form-control-sm"  %>
</div>