<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, id: :email, class: :email %>
</div>

<div class="handle-field">
  <%= form.label :handle %>
  <%= form.text_field :handle, id: :handle %>
</div>


<div class="first_name-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, id: :first_name %>
</div>


<div class="last_name-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, id: :first_name %>
</div>


<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, id: :password %>
</div>
