<table>
	<tr>
		<td>ID</td>
		<td>Listing</td>
		<td>User</td>
		<td>Check In</td>
		<td>Check Out</td>
	</tr>
	<%@reservations.each do |r|%>
	<tr>
		<td><%= r.id%></td>
		<td><%= link_to r.listing.name, listing_path(r.listing)%></td>
		<td><%= link_to r.user.handle, user_path(r.user) %></td>
		<td><%= r.check_in.strftime('%Y-%m-%d') %></td>
		<td><%= r.check_out.strftime('%Y-%m-%d') %></td>
	</tr>
	<%end%>

</table>