<!DOCTYPE html>
<html>
<head>
<!--   <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %> -->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>

  <%= csrf_meta_tag %>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-danger" href="/"><strong>PairBnB</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <form class="form-inline my-2 my-lg-0 mr-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "Browse listings", listings_path, :class => "nav-link" %>
      </li>

      <% if signed_in?%>
      <li class="nav-item">
        <%= link_to "Create listing", new_listing_path, :class => "nav-link" %>
      </li>
      <li class="nav-item"> 
        <%= link_to "My reservations", reservations_path, :class => "nav-link disabled" %>
      </li>   
      <% end%>

      
      <li class="nav-item">
        <% if signed_in? -%>
          <%= link_to t(".sign_out"), sign_out_path, :class => "nav-link", method: :delete %>
        <% else -%>
          <%= link_to t(".sign_up"), sign_up_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".sign_in"), sign_in_path, :class => "nav-link" %>
        <% end -%>
      </li>
    </ul>





    
  </div>
</nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
